{% extends "authuser/layout.html" %}
{% block body %}
    <p class="m-4">Thanks for checking out your cart! This website was created so I could practise using django for the back end of a website and bootstrap for the front end. I'm sorry to say that I can't actually send you the football kits you've checked out. However, you should be able to see the items you've 'purchased' in the <a href="{%url 'your_orders'%}">your orders</a> sections of the wbsite and you can leave a review as well. Thank you for taking a look around my website!</p>
{% endblock %}